.aviasalesInfo {
  padding-bottom: 10px;
}

.spinnercContainer {
  padding-left: 10px;
}

.aviasalesSortContainer {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(223, 229, 236);
  border-radius: var(--border-main);
  gap: 1.5px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .aviasalesSortContainer {
    flex-direction: row;
  }
}
