.aviasalesSort {
  flex: 1;
}

.aviasalesSortContainer {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(223, 229, 236);
  border-radius: var(--border-main);
  gap: 1.5px;
  overflow: hidden;
}

.aviasalesContent {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.loader {
  display: flex;
  justify-content: center;
}

.tickets {
  align-self: stretch;
  gap: 0 20px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 26px;
}

.ticketsPrice {
  white-space: nowrap;
}

.segments {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
}

.segment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.segmentType {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 1px;
}

.segmentType .segmentTypeParagraph {
  font-size: 15px;
}

.aviasalesLoadTicket {
  margin-bottom: 30px;
  border-radius: var(--border-main);
}

.stops {
  display: flex;
  gap: 5px;
}

.stops .stopParagraph {
  font-size: 15px;
}

@media (min-width: 768px) {
  .aviasalesSortContainer {
    flex-direction: row;
  }

  .segments {
    flex-direction: column;
  }

  .segment {
    flex-direction: row;
  }

  .segmentType {
    flex: 1 1 calc(100% / 3 - 20px);
  }
}
