@import "../../app/App/mixin.scss";

.paragraph {
  margin: 0;
  display: inline-block;
}

.paragraph.primaryMode {
  color: var(--default-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.paragraph.successMode {
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.paragraph.secondaryMode {
  color: var(--success-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.paragraph.superSmallSize {
  @include calculateTextSize(9px, 14px);
}

.paragraph.smallSize {
  @include calculateTextSize(12px, 20px);
}

.paragraph.mediumSize {
  @include calculateTextSize(24px, 24px);
}
