.button {
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  border: none;
}

.button.wide {
  width: 100%;
  flex-grow: 1;
}

.button.primaryMode {
  color: var(--default-color);
  background-color: var(--base-color);
}


.button.primaryMode:not([disabled]) {
  transition:
    color 0.2s,
    background-color 0.2s;
}

.button.primaryMode:not([disabled]) p {
  transition: color 0.2s;
}

.button.primaryMode p {
  color: var(--default-color);
}

.button.primaryMode.activeType {
  cursor: default;
  background-color: var(--primary-color);
  color: var(--base-color);
}

.button.primaryMode.activeType p {
  color: var(--base-color);
}

@media (hover: hover) {
  .button.primaryMode:not([disabled]):hover {
    background-color: var(--hover-success);
    color: var(--default-color);
  }

  .button.primaryMode:not([disabled]):hover p {
    color: var(--default-color);
  }
}