@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --tableWidth: 768px;
  // --phoneWidth: 576px;

  --container: 960px;
  --border-main: 5px;
  --familyOpen: "Open Sans", sans-serif;
}

html[data-theme="light"] {
  // main Color light
  --background: #f3f7fa;
  --base-color: #ffffff;
  --default-color: #4a4a4a;
  --main-background-color: #2196f3;
  --success-color: #a0b0b9;
  --primary-color: #2196f3;

  // hover Color light
  --hover-primary: #2196f3;
  --hover-success: #f1fcff;

  // border Color
  --border-base: #9abbce;
}

body {
  font-family: var(--familyOpen);
  background: var(--background);
}

h2 {
  margin: 0;
}

.header {
  margin: 50px auto;

  &__container {
    text-align: center;
    max-width: var(--container);
    margin: 50px auto;
    padding: 0 20px;
  }
}
