.aviasalesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .aviasalesContainer {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
